<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello EJS Template Engine</h1>
    <h1>ชื่อ: <%= name %> <%= lastname %></h1>
    <h1>อายุ: <%= age %></h1>
    <%- address %>
    <hr>
    <% if (age>=18) {%>
        <h1 style="color: green;">ผ่านการทดสอบ</h1>
    <% } else { %>
        <h1 style="color: red;">ไม่ผ่านทดสอบ</h1>
    <% } %>
    <hr>
    <% for (i=1;i<10;i++){ %>
        <p><%= i %></p>
    <% } %>
</body>
</html>